* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: cyan;
}

body {
    background: rgba(126, 11, 233, 0.943);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    padding: 15px;
    border-radius: 12px;
    font-size: 40px;
    color: rgb(0, 248, 253);
    background: rgba(126, 11, 233, 0.943);
    border: 2px solid rgba(0, 255, 242, 0.943);
    transition: all 0.5s;
}

.btn:hover {
    background: cyan;
    color: rgba(69, 129, 104, 0.943);
}

.title {
    font-size: 50px;
    color: cyan;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

nav {
    display: flex;
    gap: 20px;
}

#result {
    font-size: 30px;
    color: cyan;
}

.close {
    display: none !important;
    
}